/*starter CSS*/
       .face {
        background-color: rgb(236,238,29);
        border-radius: 300px;
        border: 2px solid rgb(0,0,0);
        height: 300px;
        position: relative;
        width: 300px;
      }
      .eye_left {
        background-color: rgb(0,0,0);
        border-radius: 30px;
        position: absolute;
        top: 86px;
        width: 43px;
        left:65px;
        height:65px;
      }

      .mouth {
        border-radius: 0 0 170px 170px;
        border: 2px solid rgb(0,0,0);
        position:absolute;
        top:162px;
        width:184px;
        left:52px;
height:74px;
border-top: 36px;
/* border-bottom: -8px; */


      }
      .eye_right {
        background-color: rgb(0,0,0);
        border-radius: 30px;
        position: absolute;
        top: 86px;
        width: 41px;
        left:183px;
        height:65px;
      }

    .face_2{
      background-color: rgb(236,238,29);
      border-radius: 300px;
      border: 2px solid rgb(0,0,0);
      height: 300px;
      position: relative;
      width: 300px;
    }

    .myeye_left {
      background-color: rgb(0,0,0);
      border-radius: 30px;
      position: absolute;
      top: 63px;
      width: 43px;
      left:65px;
      height:65px;
    }

    .mustache {
      border-radius: 0 0 170px 170px;
      border: 10px solid rgb(0,0,0);
      position:absolute;
      top:150px;
      width:184px;
      left:52px;
height:24px;
border-top: 183px;
/* border-bottom: -8px; */

}
.myeye_right {
  background-color: rgb(0,0,0);
  border-radius: 30px;
  position: absolute;
  top: 63px;
  width: 41px;
  left:183px;
  height:65px;
}

.hat{
  background-color: rgb(0,0,0);
    border-radius: 30px;
    position: absolute;
    top: -24px;
    width: 248px;
    left: 25px;
    height: 85px;
}

.mymouth {
  border-radius: 0 0 170px 170px;
  border:10px solid rgb(0,0,0);
  position:absolute;
  top:149px;
  width:185px;
  left:51px;
height:71px;
border-top: 183px;
