.ribbon {
  position: absolute;
width: 206px;
height: 44px;
border: 3px solid white;
padding: 20px;
transform: rotate(45deg);
text-align: center;
right: -67px;
top: 12px;
/* color:white; */

}
.box{
  position:relative;
  margin: 0 auto;
  /* height:189px; */
  /* border: 10px solid red;
  padding: 100px; */
  padding: 5px;
  overflow: hidden;
  background-color: red;
  width:741px;
  position: relative;
  /* background-image: url(../images/2.jfif);
  background-repeat: no-repeat;
  background-position: left; */

}

h1{
  font-style: italic;
  font-size: 40px;
  font-family: 'Black Han Sans', sans-serif;
  text-align: center;
  color: white;
}

h2{
  text-align: center;
  color: white
;
}

h3{
  text-align: center;
  font-size: 20px;
  color: white;
}

p{
  text-align: center;
  text-decoration-style: dotted;
  text-transform: uppercase;
  color: white;
}
